@charset "utf-8";
/******************************************************
1. common
@ Set Css
@ Set Default 
@ Set Color 
@ Set Align
@ Set Font
@ Set Tree Content
2. layout
3. 


******************************************************/
/*
1. common
*/


/******************************************************
@ Reset Css
******************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,input,select,textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{	
	padding:0px;
	margin:0px;
	vertical-align:top
}
body {
    font-family: "Noto Sans KR";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    text-align: left;
    background-color: rgb(255, 255, 255);
    letter-spacing: -0.031em;
    min-width: 1232px;
    margin: 0px;
}
html, body {width:100%;height:100%;-webkit-text-size-adjust:none;}
body{position:relative;min-width:320px}
ul, ol {list-style-type:none}
h1,h2,h3,h4,h5,h6,th{font-weight:400}
table{border-collapse:collapse;border-spacing:0}
img,fieldset{border:0;outline:none}
label {cursor:pointer}
i, em, address {font-style:normal}
caption,legend{visibility:hidden;width:0px;height:0px;font-size:0px;line-height:0px}
img{max-width:100%}

/* html5 ie9 else */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
   display:block;
   padding:0;
   margin:0
}

a {text-decoration:none;color:#666;cursor:pointer;}
a:link, a:visited {text-decoration:none;color:#666;}
a:hover, a:focus, a:active{background:none;text-decoration:none;}


/******************************************************
@ Set Default 
******************************************************/
.letter{letter-spacing:normal !important} 
.under{text-decoration: underline !important}
html.fix{overflow-y:hidden}/* pop browser fix */
.d_t{display:table;width:100%;height:100%}
.d_t .d_c{display:table-cell;width:100%;vertical-align:middle}


/******************************************************
@ Set Color 
******************************************************/
.color_01{color:#ff8b00 !important}


/******************************************************
@ Set Align
******************************************************/
.vertical_top{vertical-align:top !important}
.vertical_middle{vertical-align:middle !important}
.vertical_boggom{vertical-align:bottom !important}


/******************************************************
@ Set Font
******************************************************/
html{font-family:'dotum';font-weight:400;text-align:left;color:#333;font-size:14px;line-height:1}

.f_100{font-weight:100}/* Thin */
.f_300{font-weight:300}/* light */
.f_400{font-weight:400}/* Reguler */
.f_500{font-weight:500}/* Medium */
.f_700{font-weight:700}/* Bold */



/******************************************************
@ Set Tree Content
******************************************************/
.container{
	padding: 80px 0 100px;
	width: 1200px;
	margin: auto;
}
.content{
	max-width: 1200px;
    padding: 0;
	margin-top: 8px;
}
.wrap{
    margin:0 auto;
	position: relative;
	display: block;
	
}
.title{
	font-size: 22px;
    color: #0a1829;
    font-weight: 600;
}
.row{
	position: relative

	display: block;
	padding: 10px;
}

p {
	padding:8px;
}
.content table tr{
	padding: 10px 0px;
}
.cont-10{
	display: inline-block;
	width: 10%;
}
.cont-20{
	display: inline-block;
	width: 20%;
}

.cont-30{
	display: inline-block;
	width: 30%;
}
.cont-40{
	display: inline-block;
	width: 40%;
}
.cont-50{
	display: inline-block;
	width: 50%;
}
.cont-60{
	display: inline-block;
	width: 60%;
}
.cont-70{
	display: inline-block;
	width: 70%;
}
.cont-100{
	display: inline-block;
	width: 100%;
}
table.list.box {
   display: inline-block;
}

table.list {
    max-width: 100%;
    margin-top: 10px;
}
table.list th {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    background-color: #fafafa;

}
table.list th{
	font-weight: 600;
}

table.list td {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 20px;
    border: 1px solid #ddd;
}
.margin-top-50{
	margin-top:50;
}


/*.content{position:fixed;top:0;left:0;height:100%;;z-index:10}*/
/*
#tree.detail{width:100%;background:#fff}
#tree.detail .header_wrap{max-width:2560px;margin:0 auto;padding-bottom:0;background:#fff}
#tree.detail .header_wrap .info{position:absolute;bottom:0;right:30px;margin-top:0}
#tree.detail .list_wrap{max-width:2560px;margin:0 auto;padding:30px;}
#tree.detail .list_cell{border-bottom:1px solid #dbdbdb;margin-top:40px}
#tree.detail .list_cell:first-child {margin-top:0;}
#tree.detail .list_cell h3{font-size:16px;color:#333;text-align:left;padding:13px 0;font-weight:700;background:#fff}
#tree.detail .list_table thead{display:table-header-group}
#tree.detail .list_table .detail{display:table-cell;vertical-align:middle}
#tree.detail .list_table .col_01,
#tree.detail .list_table .col_02,
#tree.detail .list_table .col_03,
#tree.detail .list_table .col_04,
#tree.detail .list_table .col_05,
#tree.detail .list_table .col_06,
#tree.detail .list_table .col_07,
#tree.detail .list_table .col_08{display:table-column}
#tree.detail .btn_link.pr01:after,
#tree.detail .btn_link.pr02:after,
#tree.detail .btn_link.pr03:after{display:none}
#tree.detail .list_table th{border-top:1px solid #dbdbdb}
#tree.detail .list_table tr:last-child td{border-bottom:none}
#tree.detail .list_table .pr01:after,
#tree.detail .list_table .pr02:after,
#tree.detail .list_table .pr03:after{position:relative;top:auto;left:auto;margin:0 auto}
#tree.detail .header_wrap .link_sort{display:none}
#tree.detail .header_wrap .skin_sort{display:none}
#tree.detail .list_table .path a.btn_link{padding-left:0;}
#tree.detail .list_table .path a.btn_link:before{display:none}
#tree.detail .list_table td{padding:10px 10px}
#tree.detail .pr01,
#tree.detail .pr02,
#tree.detail .pr03{display:block !important}
#tree.detail .list_table .path span{display:none !important}
*/

.update{color:#ff0000 !important;}

#tree .tree_scroll{position:absolute;top:0;left:0;right:0;bottom:0;width:auto;height:auto;overflow-y:auto}
#tree.open{left:-300px}

.header_wrap{position:relative;max-width:100%;text-align:left;padding:60px 30px 20px 30px;background:#fff}
.header_wrap h1{font-size:16px;color:#666}
.header_wrap .tree_sort{position:absolute;top:15px;left:10px;overflow:hidden}
.header_wrap .tree_sort a{position:relative;float:left;display:block;width:30px;height:30px;margin-left:5px;border:1px solid #ddd;background:#fff;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
.header_wrap .tree_sort a:first-child{margin-left:0}
.header_wrap .tree_sort a.sort_01 > span{position:absolute;top:50%;left:50%;display:block;width:12px;height:12px;margin-top:-6px;margin-left:-6px}
.header_wrap .tree_sort a.sort_01 > span > span{position:absolute;display:block;height:100%;background:#666}
.header_wrap .tree_sort a.sort_01 > span > span:nth-child(1){top:0;left:0;width:3px}
.header_wrap .tree_sort a.sort_01 > span > span:nth-child(2){top:0;left:5px;width:7px}
.header_wrap .tree_sort a.sort_02 > span{position:absolute;top:50%;left:50%;display:block;width:12px;height:12px;margin-top:-6px;margin-left:-6px}
.header_wrap .tree_sort a.sort_02 > span > span{position:absolute;display:block;width:100%;height:2px;background:#666;}
.header_wrap .tree_sort a.sort_02 > span > span:nth-child(1){top:0;left:0}
.header_wrap .tree_sort a.sort_02 > span > span:nth-child(2){top:5px;left:0}
.header_wrap .tree_sort a.sort_02 > span > span:nth-child(3){top:10px;left:0}

.header_wrap .tree_sort a.actived{border-color:#333;background:#444}
.header_wrap .tree_sort a.actived > span > span{background:#fff}
.header_wrap .skin_sort select{width:80px;height:30px;border-color:#dbdbdb}
.header_wrap .skin_sort{position:absolute;top:15px;right:100px;overflow:hidden}
.header_wrap .link_sort select{width:80px;height:30px;border-color:#dbdbdb}
.header_wrap .link_sort{position:absolute;top:15px;right:10px;overflow:hidden}
.header_wrap .link_sort a{position:relative;float:left;display:block;width:40px;height:40px;margin-left:5px;border:1px solid #ddd;background:#fff;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.header_wrap .link_sort a:first-child{margin-left:0}
.header_wrap .link_sort a img{position:absolute;top:50%;left:50%;width:20px;height:20px;margin-top:-10px;margin-left:-10px;}
.header_wrap .link_sort a img.on{opacity:0}
.header_wrap .link_sort a.actived{border-color:#333;background:#333}
.header_wrap .link_sort a.actived img.on{opacity:1}
.header_wrap .link_sort a.actived img.off{opacity:0}
.header_wrap .info{overflow:hidden;margin-top:10px}
.header_wrap .info > div{float:left;margin-left:15px}
.header_wrap .info > div:first-child{margin-left:0}
.header_wrap .info > div > p{font-size:13px;color:#666;padding-left:15px}
.header_wrap .info > div > p:after{right:auto;left:0}

.pr01{position:relative;display:inline-block}
.pr01:after{content:'';position:absolute;top:50%;right:0;display:block;width:6px;height:6px;margin-top:-3px;background:#000;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
.pr02{position:relative;display:inline-block}
.pr02:after{content:'';position:absolute;top:50%;right:0;display:block;width:6px;height:6px;margin-top:-3px;background:#ff0000;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
.pr03{position:relative;display:inline-block}
.pr03:after{content:'';position:absolute;top:50%;right:0;display:block;width:6px;height:6px;margin-top:-3px;background:#6ac124;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}

.list_wrap{position:relative}

.list_cell{}
.list_cell h3{font-size:13px;color:#fff;text-align:left;padding:8px 10px;background:#444}
.list_cell h3 em{color:#ff6600}

.list_table{table-layout:fixed;width:100%}
.list_table thead,
.list_table .detail,
.list_table .col_01,
.list_table .col_02,
.list_table .col_03,
.list_table .col_04,
.list_table .col_06,
.list_table .col_07,
.list_table .col_08{display:none}
.list_table th{font-size:13px;padding:8px 10px;border-top:1px solid #d9d9d9;border:1px solid #d9d9d9;text-align:center;background:#f6f6f6}
.list_table td{font-size:13px;color:#666;line-height:15px;text-align:left;padding:8px 15px;border:1px solid #dbdbdb;background:#fff}
.list_table td.tc{text-align:center}
.list_table tr:nth-child(2n) td{background-color:#fafafa}
.list_table tr:hover td{background:#f7fbf8}
.list_table td:first-child{border-left:none}
.list_table td:last-child{border-right:none}

.list_table .col_01{width:auto}
.list_table .col_02{width:auto}
.list_table .col_03{width:auto}
.list_table .col_04{width:auto}
.list_table .col_05{width:auto}
.list_table .col_06{width:50px}
.list_table .col_07{width:120px}
.list_table .col_08{width:auto}
.list_table .path a{display:block;position:relative}
.list_table .path span{position:absolute;top:8px;right:0;opacity:1}


table.list_table {border-collapse: collapse;border-spacing: 0;}
a {text-decoration: none; color:#006EFF;}
.container {padding: 80px 0 100px; width: 1200px; margin: auto;}
header h1 {font-size: 32px; text-align: center; margin: 0 0 32px 0;}
.state {position: relative; margin-bottom: 30px;}
.state h2 {font-size: 16px; font-weight: 500; color: #333; margin: 0;}
.state .flag-info {position:absolute;bottom:0;right:0;margin-top:0}
.state .flag-info div {display: inline-block; padding-left: 20px;}
.state .flag-info p{font-size:13px;color:#666;padding-left:15px}
.state .flag-info p:after{right:auto;left:0}
.pr01, .pr02, .pr03{display:block !important; margin: 0;}
.pr01{position:relative;display:inline-block}
.pr01:after{content:'';position:absolute;top:50%;right:0;display:block;width:6px;height:6px;margin-top:-3px;background:#000;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
.pr02{position:relative;display:inline-block}
.pr02:after{content:'';position:absolute;top:50%;right:0;display:block;width:6px;height:6px;margin-top:-3px;background:#ff0000;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
.pr03{position:relative;display:inline-block}
.pr03:after{content:'';position:absolute;top:50%;right:0;display:block;width:6px;height:6px;margin-top:-3px;background:#6ac124;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
.list_table {padding-bottom: 50px;}
.list_table h3 {margin-top: 32px; margin-bottom: 8px; font-size: 16px; font-weight: 700; color: #333;}
.list_table table td, .list_table table th {padding: 10px; border: 1px solid #ddd; border-right: 0; border-bottom: 0; font-size: 14px; vertical-align: middle;}
.list_table table th {background: #f9f9f9; font-weight: 500; color: #333;}
.list_table table td:last-child, .list_table table th:last-child {border-right: 1px solid #ddd;}
.list_table table tr:last-child td {border-bottom: 1px solid #ddd;}
.list_table table tr:nth-child(2n) td {background: #f9f9f9;}
.list_table table tr:hover td {background: #F8F8FE;}
.list_table table td.date {text-align: center;}
.list_table table .pr01:after,
.list_table table .pr02:after,
.list_table table .pr03:after{position:relative;top:auto;left:auto;margin:0 auto}



a.btn_link{position:relative;/*padding-left:10px*/}
/*a.btn_link:before{content:'-';position:absolute;top:0;left:0;font-size:13px;color:#888;line-height:15px}*/
a.btn_link:hover{color:blue}

.tree_content{position:absolute;top:0;right:0;bottom:0;left:0;width:auto;height:auto;margin-left:300px;z-index:5;}
.tree_content iframe{position:absolute;top:0;left:0;width:100%;height:100%;overflow-y:auto;outline:none;border:none}
.tree_content.open{margin-left:0}

.btn_mobile_toggle{position:absolute;top:50%;left:100%;width:20px;height:40px;text-align:center;background:#444;margin-top:-20px}
.btn_mobile_toggle a{display:block;width:20px;height:40px;font-size:14px;color:#fff;line-height:40px}

.hover_content{position:absolute;top:0;left:102%;width:300px;padding:20px 10px;border:1px solid #ddd;background:#fff;display:none;-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1)}
.hover_content ul{}
.hover_content ul li{position:relative;min-height:15px;font-size:13px;color:#666;line-height:15px;margin-top:6px;padding-left:80px}
.hover_content ul li:first-child{margin-top:0}
.hover_content ul li em{position:absolute;top:0;left:0;display:block;width:80px}
.hover_content ul li span{position:relative;display:block}
.hover_content ul li span:after{content:'';position:absolute;top:3px;left:-11px;display:block;width:1px;height:9px;background:#bbb}
.hover_content a.btn_link{padding-left:0;}
.hover_content a.btn_link:before{display:none}

.hover_content .arrow{position:absolute;top:6px;left:-15px;display:block;width:16px;height:16px}
.hover_content .arrow:after{content:'';position:absolute;top:1px;left:1px;display:block;width:0;height:0;border-style:solid;border-width:7px 14px 7px 0;border-color: transparent #fff transparent transparent}
.hover_content .arrow:before{content:'';position:absolute;top:0;left:0;display:block;width:0;height:0;border-style:solid;border-width:8px 15px 8px 0;border-color: transparent #ddd transparent transparent}
.hover_content.bottom .arrow{top:auto;bottom:6px}